<ul data-role="listview" data-inset="true" data-filter="true">
  <% @subcontractors.each do |subcontractor| %> 
  <li>
    <%= subcontractor.name %>
    <% if subcontractor.foreman_name.present? %> 
      <div class="item_info"><%= "Foreman: #{subcontractor.foreman_name}" %></div>
    <% end %> 
  </li>
  <% end %> 
</ul>