<a href="#" data-photo-target="<%= photos_url %>" data-role="button" data-theme="b" data-inline="true">
  <%= icon('camera-retro', 'icon-3x', 'custom-button-icon') %> Take Photo
</a>
<p>
  Use this to take a photo of a truck or delivery ticket, and send it to the back office
</p>