<ul data-role="listview" data-inset="true" data-filter="true">
  <% @supplier_truck.tickets.each do |ticket| %> 
    <li>
      <%= link_to ticket_path(ticket) do %>
        <div class="ui-grid-a">
          <div class="ui-block-a">thumb</div>
          <div class="ui-block-b" class="item_info">
            <div><%= "Ticket ##{ticket.number}" %></div>
            <div>
                <%= ticket.approved_date ? 
                "Approved #{ticket.approved_date}" : "Not yet approved" %>
            </div>
          </div>
        </div>
      <% end %>         
    </li>
  <% end %> 
</ul>