/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome.min.css
 *= require jquery.mobile-1.2.0.min.css
 */
.item_info {
  font-weight: normal;
}
.font-awesome {
  font-family: FontAwesome;
}
span.custom-button-icon {
  vertical-align: middle;
  padding-right:  10px;
  color:          #000000;
}
.image-gallery-grid {
  margin-top: 25px;
  text-align: center;
}
.image-gallery-grid a {
    text-decoration: none;
}
.image-gallery-grid a:hover {
    text-decoration: underline;
}
.image-gallery-member {
  width:    80%;
  border:   2px solid #CCCCCC;
  padding:  4px;
}
.ellipsis {
  white-space:    nowrap;
  overflow:       hidden;
  text-overflow:  ellipsis; 

  width:          80%;
  margin:         auto;
}

.negative-top-margin {
  margin: -15px 0px 0px 0px;
}

.nonbold {
  font-weight: normal;
}

/*.ui-btn-up-c {
  font-weight: normal;
}*/